{:assets
                [{:url "/images/dashboard/scene-preview/kitchen_background.jpg", :size 10, :type "image"}
                 {:url "/images/soup-game-elements/blank-square.jpg", :size 10, :type "image"}
                 {:url "/images/soup-game-elements/bowl.jpg", :size 10, :type "image"}
                 {:url "/images/soup-game-elements/tablet.jpg", :size 10, :type "image"}],
 :objects
                {:background {:type "background", :brightness -0.2, :filter "brighten", :src "/images/dashboard/scene-preview/kitchen_background.jpg"},
                 :tablet
                             {:type       "image",
                              :x          10,
                              :y          10,
                              :width      150,
                              :height     300,
                              :transition "tablet",
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/images/soup-game-elements/tablet.jpg"},
                 :bowl
                             {:type       "image",
                              :x          500,
                              :y          500,
                              :width      200,
                              :height     200,
                              :transition "bowl",
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/images/soup-game-elements/bowl.jpg"},
                 :blank-item-box
                             {:type       "image",
                              :x          30,
                              :y          30,
                              :width      50,
                              :height     50,
                              :transition "blank-item-box",
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/images/soup-game-elements/blank-square.jpg"},
                 
                 :vera
                             {:type   "animation",
                              :x      1382,
                              :y      886,
                              :width  1800,
                              :height 2558,
                              :scale  {:x 0.17, :y 0.17},
                              :anim   "idle",
                              :name   "vera",
                              :speed  0.3,
                              :start  true}},
 :scene-objects [["background"] ["tablet" "bowl" "blank-item-box" "vera"]],
 :actions       {:init {:type "sequence-data",
                        :data []}},
 :triggers      {:init {:on "start", :action "init"}},
 :metadata      {:autostart true}}