{:assets
                [{:url "/resources/public/images/dashboard/scene-preview/kitchen_background.jpg", :size 10, :type "image"}
                 {:url "/resources/public/images/tablet.jpg", :size 10, :type "image"}
                 {:url "/resources/public/images/bowl.jpg]", :size 10, :type "image"}
                 {:url "/resources/public/images/blank-square.jpg", :size 10, :type "image"}],
 :objects
                {:background {:type "background", :brightness -0.2, :filter "brighten", :src "resources/public/images/dashboard/scene-preview/kitchen_background.jpg"},
                 :tablet
                             {:type       "image",
                              :x          908,
                              :y          422,
                              :width      207,
                              :height     288,
                              :transition "tablet",
                              :actions    {:click {:on "click", :type "scene", :scene-id "hide-n-seek"}},
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/resources/public/images/tablet.jpg"},
                 :bowl
                             {:type       "image",
                              :x          562,
                              :y          0,
                              :width      338,
                              :height     477,
                              :transition "bowl",
                              :actions    {:click {:on "click", :type "scene", :scene-id "pinata"}},
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/resources/public/images/bowl.jpg"},
                 :blank-item-box
                             {:type       "image",
                              :x          782,
                              :y          772,
                              :width      499,
                              :height     214,
                              :transition "blank-item-box",
                              :actions    {:click {:on "click", :type "location", :location-id "sandbox"}},
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/resources/public/images/blank-square.jpg"},
                 
                 :vera
                             {:type   "animation",
                              :x      1382,
                              :y      886,
                              :width  1800,
                              :height 2558,
                              :scale  {:x 0.17, :y 0.17},
                              :anim   "idle",
                              :name   "vera",
                              :speed  0.3,
                              :start  true}},
 :scene-objects [["background"] ["tablet" "bowl" " blank-item-box" "vera"]],
 :actions       {:start-background-music {:type "audio", :id "/raw/audio/background/Parque.mp3", :loop true}},
 :triggers      {:music {:on "start", :action "start-background-music"}},
 :metadata      {:prev "map", :autostart true}}
